{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="hero-unit">
	<h1>Agence Kiloücher</h1>
	<p>Venez chercher la maison de vos rêves !</p>
	<p>
		<iframe width="420" height="315" src="https://www.youtube-nocookie.com/embed/bwAw9ThDQmk?rel=0" frameborder="0" allowfullscreen></iframe>
	</p>
	<p>
		Ce site est <strong>valide</strong> selon la norme W3C-HTML5-CSS3 (du moins pour le moment), les seules coquilles sont le fait de l'utilisation d'iFrame (merci Youtube).
	</p>
</div>

{% endblock %}