{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed egestas 
	faucibus nunc. Morbi quis neque laoreet ante varius rutrum. Nam arcu  
	ipsum, blandit placerat, pharetra ut, pulvinar in, nulla. Vivamus  condimentum
	elit eu faucibus sollicitudin, nisi metus fermentum mi,m lacinia nisl sit amet 
	ipsum. Nam volutpat vulputate  lacus. Integer orci dui, lacinia non, blandit.
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed egestas 
	faucibus nunc. Morbi quis neque laoreet ante varius rutrum. Nam arcu  
	ipsum, blandit placerat, pharetra ut, pulvinar in, nulla. Vivamus  condimentum
	elit eu faucibus sollicitudin, nisi metus fermentum mi,m lacinia nisl sit amet 
	ipsum. Nam volutpat vulputate  lacus. Integer orci dui, lacinia non, blandit.
</p>

{% endblock %}