<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
    
  <link rel="stylesheet" href="{{ bootstrap() }}/css/bootstrap.css" />
  
  <style type="text/css">
      .main {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
	<!-- Ajoute la compatibilité avec les téléphones -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ bootstrap() }}/css/bootstrap-responsive.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="{{ css() }}/font-awesome.min.css" />
	<!-- [if lt IE 8]>
	 <link rel="stylesheet" href="{{ css() }}/font-awesome-ie7.min.css" />
	<![endif] -->

	<link rel="stylesheet" href="{{ css() }}/global.css" />
	
	<title>{% block title %}{% endblock %} - Agence Kiloücher</title>
</head>

<body>

{% include "client_form_connexion_inPopover.html" %}
{% include "admin_form_connexion_inPopover.html" %}

<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
				<a class="brand" href="{{ root() }}">Agence Kiloücher</a>
				
				<ul class="nav hidden-desktop">
				  <li class="markupCaddie"></li>
				</ul>
				
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav">
						<li><a href="{{ queries('biens','afficher',{}) }}">Affichage biens</a></li>
						<li><a href="{{ queries('base','afficher',{}) }}">Affichage base</a></li>
					</ul>

				 <form class="navbar-search" method="post" action="{{ queries('biens','rechercher',{}) }}">
           <input class="search-query" type="text" id="search" name="search" placeholder="Rechercher 3 mots maximum" />
           <input type="hidden" name="filled" id="filled" value="true" />
         </form>
				  <ul class="nav pull-right">
				    <li class="markupCaddie visible-desktop"></li>
				    {% if isLogged() %}
				    <li class="dropdown">
				      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				        {% if isClient() %}
                {{ getMembInfos().nomclient }}
                {% elseif isAdmin() %}
                {{ getMembInfos().nomcompte }}
                {% endif %}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ queries('admin','home',{}) }}">Mon espace perso</a></li>
				        <li><a href="{{ queries('admin','deconnexion',{}) }}">Déconnexion</a></li>
              </ul>
				   </li>
				   {% else %}
           <li class="hidden-phone"><a href="#" class="html-popover-trigger" html-popover-content="#formConnectClient" data-placement="bottom" title="Connexion à My Kiloücher">Mes demandes</a></li>
				   <li class="hidden-phone"><a href="#" class="html-popover-trigger" html-popover-content="#formConnectAdmin" data-placement="bottom" title="Espace administration">Espace administration</a></li>
				   {% endif %}
				 </ul>
				</div>
			</div>
		</div>
	</div>
</header>



<div class="main container-fluid">
  <div id="notifications">
  </div>
	<div class="row-fluid">
		<nav class="span2">
			<ul class="nav nav-tabs nav-stacked">
				{% set tab = {} %}
				<li><a href="{{ queries('biens', 'afficher_prix', tab) }}">Consultation des biens par prix</a></li>
				<li><a href="{{ queries('biens','afficher_cat',tab) }}">Consultation des biens par catégorie</a></li>
				<li><a href="{{ queries('biens','rechercher',tab) }}">Recherche d'un bien à visiter (client nouveau)</a></li>
				<li><a href="{{ queries('biens','rechercher',{'multiple':1}) }}">Recherche de plusieurs biens à visiter (client nouveau)</a></li>
				<li><a href="{{ queries('visites','afficher_panier',{}) }}">Voir les visites</a></li>
				{% if isLogged() %}
        <li><a href="{{ queries('admin','home',{}) }}">Mon espace perso</a></li>
        <li><a href="{{ queries('admin','deconnexion',{}) }}">Déconnexion</a></li>
        {% else %}
        <li><a href="#" class="html-popover-trigger" html-popover-content="#formConnectClient" data-placement="top" title="Connexion à My Kiloücher">Client déjà enregistré</a></li>
        <li><a href="#" class="html-popover-trigger" html-popover-content="#formConnectAdmin" data-placement="top" title="Espace administration">Espace administration</a></li>
        {% endif %}
				<li><a href="{{ queries('base','afficher',tab) }}">Affichage base</a></li>
				<li class="visible-phone"><a href="#" class="html-popover-trigger" html-popover-content="#confirmRAZ" data-placement="top" title="Attention !">RAZ Base !</a></li>
			</ul>
			<button class="btn btn-danger btn-block html-popover-trigger hidden-phone" html-popover-content="#confirmRAZ" data-placement="top" title="Attention !">RAZ Base !</button>
			<div id="confirmRAZ" class="html-popover-content" style="display:none;">
				<p>Etes-vous sûr(e) de vouloir écraser le contenu de la base ?</p>
				<div class="btn-group">
					<button class="btn btn-primary html-popover-close">Non</button>
					<a href="{{ queries('base','raz',{}) }}" class="btn">Oui</a>
				</div>
			</div>
		</nav>
		<div class="span10">
		{% block content %}
		{% endblock %}
		</div>
	</div>
</div>

<footer>
<div class="navbar navbar-inner navbar-fixed-bottom">
<ul class="nav">
  <li><a href="#">Par Aurélien Bertron, aurelienbertron[at]gmail[dot]com</a></li>
</ul>
</div>
</footer>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<script src="{{ templates() }}/js/jquery-1.8.3.js"></script>
<script src="{{ bootstrap() }}/js/bootstrap.min.js"></script>
<script src="{{ templates() }}/js/global.js"></script>
<script src="{{ templates() }}/js/bootstrap-overlay.js"></script>

<!-- Affichage du markup de caddie (nombre de visites) -->
{% set nbVisites = getNbVisitesCaddie() %}
{% set link = queries('visites','afficher_panier',{}) %}
{% if nbVisites > 0 %}
  <script>$(document).ready(function(){majMarkupCaddie({{ nbVisites }},"{{ link }}")});</script>
{% endif %}

</body>
</html>