<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	
	<!-- Ajoute la compatibilité avec les téléphones -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ bootstrap() }}/css/bootstrap-responsive.min.css" rel="stylesheet">
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" href="{{ bootstrap() }}/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ css() }}/global.css" />
	
	<style type="text/css">
      .main {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
	
	<title>{% block title %}{% endblock %} - Agence Kiloücher</title>
</head>

<body>

<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
				<a class="brand" href="{{ root() }}">Agence Kiloücher</a>
				
				<div class="nav-collapse collapse">
					<ul class="nav">
						{% set tab = {} %}
						<li><a href="{{ queries('biens','afficher',tab) }}">Affichage biens</a></li>
						<li><a href="{{ queries('base','afficher',tab) }}">Affichage base</a></li>
					</ul>
					<form class="navbar-search pull-right" method="post" action="{{ queries('biens','rechercher',tab) }}">
						<input class="search-query" type="text" id="search" name="search" placeholder="Rechercher 3 mots maximum" />
						<input type="hidden" name="filled" id="filled" value="true" />
					</form>
				</div>
			</div>
		</div>
	</div>
</header>



<div class="main container-fluid">
	<div class="row-fluid">
		<nav class="span2">
			<ul class="nav nav-tabs nav-stacked">
				{% set tab = {} %}
				<li><a href="{{ queries('biens', 'afficher_prix', tab) }}">Consultation des biens par prix</a></li>
				<li><a href="{{ queries('biens','afficher_cat',tab) }}">Consultation des biens par catégorie</a></li>
				<li><a href="{{ queries('biens','rechercher',tab) }}">Recherche d'un bien à visiter (client nouveau)</a></li>
				<li><a href="{{ queries('base','afficher',tab) }}">Affichage base</a></li>
			</ul>
		</nav>
		<div class="span10">
		{% block content %}
		{% endblock %}
		</div>
	</div>
</div>

<footer>
<div class="navbar navbar-inner navbar-fixed-bottom">
<em class="brand">Par Aurélien Bertron, aurelienbertron[at]gmail[dot]com</em>
</div>
</footer>

<script src="{{ templates() }}/js/jquery-1.8.3.js"></script>
<script src="{{ bootstrap() }}/js/bootstrap.min.js"></script>
<script src="{{ templates() }}/js/global.js"></script>

</body>
</html>