{% extends 'layout.html' %}

{% block title %}Visiter {% if idValide == true %}{{ bien[0].titrebien }}{% else %}un bien{% endif %}{% endblock %}

{% block content %}

{% if idValide == true %}

<div class="row-fluid">
<button class="btn" onclick="javascript:history.back();">&lsaquo; Retour</button>
</div>

<div class="row-fluid">
<h2>Détails de {{ bien[0].titrebien }}</h2>
</div>

<div class="row-fluid">
<div class="span3">
	<img src="{{ images() }}/{{ bien[0].photobien }}"/>
</div>
<div class="span7">
	<ul class="unstyled">
		<li><strong>Description :</strong> {{ bien[0].detailbien }}</li>
		<li><strong>Adresse :</strong> {{ bien[0].adrbien }}</li>
		<li><strong>Prix en euros :</strong> {{ bien[0].prixbien }}</li>
		<li><strong>Type :</strong> {{ bien[0].idtype }} ({{ bien[0].nomtype }})</li>
	</ul>
</div>
</div>

<div class="row-fluid">
<hr/>
</div>

<div class="row-fluid">
<div class="span5">

{% if nbVisite == 0 %}
	{% set alertType = '' %}
	{% set texte = "Personne n'a demandé à visiter ce bien, profitez-en !" %}
{% elseif nbVisite == 1 %}	
	{% set alertType = 'alert-info' %}
	{% set texte = "Une personne a demandé à visiter ce bien, faites comme elle !" %}
{% elseif nbVisite > 1 and nbVisite <= 5 %}
	{% set alertType = 'alert-info' %}
	{% set texte = nbVisite ~ " personnes ont demandé à visiter ce bien, faites-en partie !" %}
{% else %}
	{% set alertType = 'alert-error' %}
	{% set texte = "Attention, déjà " ~ nbVisite ~ " personnes veulent visiter ce bien, demandez avant qu'il ne soit trop tard !" %}
{% endif %}

	<div class="alert alert-block {{ alertType }}">
		<h4>Visites</h4>
		<p>{{ texte }}</p>
	</div>
	
</div>
<div class="span5 offset1">

{% if errors is not empty %}
		<div class="alert alert-box alert-error">
			<h4>Erreur !</h4>
			<p>
				<ul class="unstyled">
					{% for error in errors %}
					<li>- {{ error }}</li>
					{% endfor %}
				</ul>
			</p>
		</div>
{% endif %}


{% set tab = {'id':bien[0].idbien} %}
<form class="form-control" method="post" action="{{ queries('visites', 'saisir', tab) }}" {% set tab = {} %} form-control-action="{{ queries('visites','controle_saisie',tab) }}">
	<fieldset>
		<legend>Visiter ce bien</legend>
		<p>
			Entrez vos informations personnelles afin d'enregistrer votre demande.
		</p>
		<div class="input-append input-prepend form-control-group required">
			<span class="add-on form-markup"><i class="icon-remove form-markup-invalid"></i><i class="icon-ok form-markup-valid"></i></span>
			<input class="span9 form-element" type="text" id="nom" name="nom" value="{{ values.nom }}" />
			<label for="nom" class="add-on form-label">Nom</label>
		</div>
		<div class="input-append input-prepend form-control-group required">
			<span class="add-on form-markup"><i class="icon-remove form-markup-invalid"></i><i class="icon-ok form-markup-valid"></i></span>
			<input class="span9 form-element" type="text" id="adresse" name="adresse" value="{{ values.adresse }}" />
			<label for="adresse" class="add-on">Adresse</label>
		</div>
		<div class="input-append input-prepend form-control-group required">
			<span class="add-on form-markup"><i class="icon-remove form-markup-invalid"></i><i class="icon-ok form-markup-valid"></i></span>
			<input class="span9 form-element" type="text" id="tel" name="tel" value="{{ values.tel }}" placeholder="Format : 0XXXXXXXXX" />
			<label for="tel" class="add-on">Téléphone</label>
		</div>
		<div class="input-append input-prepend form-control-group required">
			<span class="add-on form-markup"><i class="icon-remove form-markup-invalid"></i><i class="icon-ok form-markup-valid"></i></span>
			<input class="span9 form-element" type="email" id="email" name="email" value="{{ values.email }}" />
			<label for="email" class="add-on">E-mail</label>
		</div>
		<div class="input-append input-prepend form-control-group required">
			<span class="add-on form-markup"><i class="icon-remove form-markup-invalid"></i><i class="icon-ok form-markup-valid"></i></span>
			<input class="span9 form-element" type="text" id="dispo" name="dispo" value="{{ values.dispo }}" />
			<label for="dispo" class="add-on">Disponibilités</label>
		</div>
		<div>
			<input class="btn btn-block btn-primary form-submit" type="submit" value="Valider" />
			<input type="hidden" name="filled" value="true" />
		</div>
	</fieldset>
</form>

</div>
</div>
<div class="row-fluid">
{% set tab = {} %}
<button class="btn" onclick="javascript:history.back();">&lsaquo; Retour</button>
<hr/>
</div>

{% else %}



{% endif %}

{% endblock %}