{% extends 'layout.html' %}

{% block title %}Confirmation saisie{% endblock %}

{% block content %}

<div class="span8 offset2">
	<div class="alert alert-box alert-success">
		<h2>Demande de visite prise en compte {% if isClient() %}pour {{ getMembInfos().nomclient }} (client n<sup>o</sup> {{ getMembInfos().idclient }}){% endif %}</h2>
		{% if not isClient() %}<p>Vous avez été enregistré avec le n° client suivant : <strong>{{ idclient }}</strong><br/>{% endif %}
		Votre demande de visite a bien été enregistrée avec le numéro <strong>{{ iddemande }}</strong> et vos disponibilités suivantes :<br/>
		<strong>{{ dispo }}</strong>
		</p>
		{% set tab = {} %}
		<button class="btn btn-success btn-block" onclick="window.location.href='{{ queries('','',tab) }}'">Retourner à l'accueil</button>
	</div>
</div>

{% endblock %}